<div class="counterDiv span4" id="countdown_dashboard" style="background-image: url('assets/writing.png'); background-size='300px'; background-repeat: 'repeat'">
<table>
<tr>
<td>
	<div class="dash days_dash">
		<span class="dash_title">days</span>
		<div class="digit">0</div>
		<div class="digit">0</div>
	</div>
</td>
<td>
	<div class="dash hours_dash">
		<span class="dash_title">hours</span>
		<div class="digit">0</div>
		<div class="digit">0</div>
	</div>
</td>
<td>
	<div class="dash minutes_dash">
		<span class="dash_title">minutes</span>
		<div class="digit">0</div>
		<div class="digit">0</div>
	</div>
</td>
<td>
	<div class="dash seconds_dash">
		<span class="dash_title">seconds</span>
		<div class="digit">0</div>
		<div class="digit">0</div>
	</div>
</td>
</tr>
</table>
</div>